.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    padding: 25px;

}
.nav-flex > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
}