.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flex > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}
